#single-blog h5{
    font-weight: bold;
}
#single-blog #flex1{
    height: 35vh;
}

#single-blog #flex2{
    height: 35vh;
}
#single-blog #multi-reference a{
    cursor: pointer;
}
#single-blog #post{
    background-color: #2A0001;
    border: none;
    margin-left: 20px;
    color: rgb(216, 216, 216);
    padding: 7px 15px;
    border-radius: 4px;
}
#single-blog #post:hover{
    border-color: #2A0001;
    background-color: rgb(216, 216, 216);
    color: #2A0001;
}