<section id="showcase">
    <div id="image-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="motto">
                        <h2>Welcome to Blogging World</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore suscipit ullam hic officia reprehenderit deserunt ab quas iure. Itaque culpa explicabo ex odio soluta, eum impedit debitis inventore magni dolorum.</p>
                        <button id="blog">Go To Blogs</button>&nbsp;&nbsp;
                        <button id="contact">Contact Us</button>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</section>

<!--content start-->
<section id="content">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <h2>Our Blogs</h2>
            </div>
        </div>
        <div class="row py-3 pb-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/blog_hero.jpeg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title pb-1">How to Write a Blog Post</h5>
                        <p class="card-text">1. Understand your audience Before you start writing your 
                            blog post, make sure you have a clear understanding of your target audience.
                        </p>
                    </div>
                    <div class="card-footer">
                        
                        <a routerLink="/blogs">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/drugs.jpeg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">How drugs find their way inside prisons</h5>
                        <p class="card-text">In a midnight raid on February 8, Jessore police arrested
                             Ashraful Murad Rubel, a guard at the district's central jail.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/blogs">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/Blog.jpeg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">The benefits of blogging for business</h5>
                        <p class="card-text">Increase website traffic Business blogging increases the 
                            number of pages on your company website,
                        </p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/blogs">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--content end-->

<!--footer start-->
<app-footer></app-footer>
<!--footer end-->
