.modal-footer a{
    position: absolute;
    top: 85%;
    left: 5%;
}

#log-info{
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
}

#log-info .card-footer button{
    margin-left: 65%;
}
