
<section id="blog-showcase">
    <div id="image-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="motto">
                        <h2>Blog Article</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--content start-->
<section id="content">
    <div class="container py-5">
        <div class="row py-3 pb-5">
            <div class="col-md-6 pb-3" *ngFor="let blog of blogList">
                <div class="card">
                    <!-- <img src="../../../assets/image/blog.jpeg" class="card-img-top" alt="blog"> -->
                    <img [src]="blog.blogImage" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title pb-1">{{blog.blogTitle}}</h5>
                        <p class="card-text">
                            {{blog.blogDescription | slice: 1-100}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a (click)="openBlog(blog.blogId)">Read More</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/drugs.jpg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">How drugs find their way inside prisons</h5>
                        <p class="card-text">In a midnight raid on February 8, Jessore police arrested
                             Ashraful Murad Rubel, a guard at the district's central jail.
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Read More</button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/Blog.jpg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">The benefits of blogging for business</h5>
                        <p class="card-text">Increase website traffic Business blogging increases the 
                            number of pages on your company website,
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Read More</button>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row py-3 pb-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/blog.jpeg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title pb-1">How to Write a Blog Post</h5>
                        <p class="card-text">1. Understand your audience Before you start writing your 
                            blog post, make sure you have a clear understanding of your target audience.
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/drugs.jpg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">How drugs find their way inside prisons</h5>
                        <p class="card-text">In a midnight raid on February 8, Jessore police arrested
                             Ashraful Murad Rubel, a guard at the district's central jail.
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/image/Blog.jpg" class="card-img-top" alt="blog">
                    <div class="card-body">
                        <h5 class="card-title">The benefits of blogging for business</h5>
                        <p class="card-text">Increase website traffic Business blogging increases the 
                            number of pages on your company website,
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Read More</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-secondary">Load More</button>
            </div>
        </div>
    </div>
</section>
<!--content end-->

<!--footer start-->
<app-footer></app-footer>
<!--footer end-->
